.navbar-bg {
  background-color: #354895;
}

.home-bg {
  background-color: #4c5ea7;
}

.course-color {
  color: white;
}

.login {
  background-color: #ca3d88;
}

/* .hide-user {
  display: none;
}
.display-user:hover + .hide-user {
  display: block;
} */

@media only screen and (max-width: 600px) {
  .nav-btn {
    width: 25%;
    padding-left: 9px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
